<section >
    <div class="container">
        <div class="has-text-centered">
            <h1 class="is-size-1-widescreen">Les tables de multiplication</h1>
        </div>
        <div class="columns is-centered">
            <div class="column is-narrow">
                <table class="table">
                    <tr *ngFor="let nbr of nombreTotal">
                        <td *ngFor="let number of nombreTable()" >
                            <div *ngIf="number != null">
                                <span> {{number}} x {{nbr}} = {{ nbr * number }} </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
