<form [formGroup]="numberForm" (ngSubmit)="submitedNumber()">
  <div class="field">
      <label class="label">Entrez un nombre :</label>
      <div class="control">
          <input class="input" formControlName="nombre" type="number" placeholder="nombre" value="">
      </div>
      <label class="label">Combien de table ?</label>
      <div class="control">
          <input class="input" formControlName="nbrTable" type="number" placeholder="" value="">
      </div>
  </div>
  <div class="field is-grouped">
      <div class="control">
          <button class="button is-link" >Soumettre</button>
      </div>
  </div>
</form>
<app-table-multiplication [nombre]="nombre"></app-table-multiplication>
<app-tables-multiplication [nbrTable]="nbrTable" ></app-tables-multiplication>